//-----Обертка двух секция Что обо мне говорят И КОНТАКТЫ

.aboutContact-wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
}
//---блок обертка для паралакса 
.parallax-buda {
  position: absolute;
  
  display: flex;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
//---картинка будды
.buda-icon {
  width: 100%;
  height: 100%;
  object-fit: cover;
}