
.triangles {
    display: flex;
    margin-top: -100px;
    color: #ffffff;
   // position: absolute;
  }
  
  .triangles__item {
    width: 50%;
    display: block;
    height: 100px;
    fill: currentColor;
  }