.triangles {
  display: flex;
  margin-top: -100px;
  color: #ffffff;
  z-index: 100;
  // position: absolute;
}

.triangles__item {
  width: 50%;
  display: block;
  height: 100px;
  fill: currentColor;
}

.triangles__item-work{
  fill: #ffffff;
  transform: rotateZ(180deg);
}
.triangles-work{
  margin-top: 00px;
}