


                    ul.info-list
                    li.info__item
                      .info__data Проживаю:
                      .info__value Марсель
                    li.info__item
                      .info__data Возраст:
                      .info__value 33 года
                    li.info__item
                      .info__data Родился:
                      .info__value 20 сентября 1986     