include ./mixins.pug


<!DOCTYPE html>
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Portfolio | main page
  body
    .wrapper
      .maincontent
        .wrapper-section
          .parallax
            +image('content/welcome-section-bag.png', 'parallax-image')
          section.section.welcome.fullscreen-section
            .container.container-welcome
              header.header
                .header-logo SS
                nav.nav
                  ul.nav-list
                    li.nav-item 
                      a.nav-link Главная
                    li.nav-item
                      a.nav-link Обо мне
                    li.nav-item 
                      a.nav-link Навыки
                    li.nav-item
                      a.nav-link Работы
                    li.nav-item 
                      a.nav-link Отзывы
                    li.nav-item
                      a.nav-link Связаться
                ul.social-header
                  li.social-header__item
                    .icon-insta
                  li.social-header__item
                    .icon-vk  
                  li.social-header__item
                    .icon-github
              .name-title
                h1.title-website Личный сайт <br> веб разработчика 
                .name-developer Stanislav<br>Sechaud
              .scroll
                a.scroll-link
                  .scroll-text Скролл
                  .scroll-icon
          section.section.about
            .container.contaner-about
              .about-left
                .devoloper-photo
                  +image('content/slice-1.png', 'dev-icon')
                ul.info-list
                  li.info__item
                    .info__data Проживаю:
                    .info__value Марсель
                  li.info__item
                    .info__data Возраст:
                    .info__value 33 года
                  li.info__item
                    .info__data Родился:
                    .info__value 20 сентября 1986    
              .about-right
                h2.about-hi Привет меня зовут
                .about-name Stanislav Sechaud
                .about-work Я занимаюсь разработкой современных сайтов и приложений. Мне нравится делать интересные и современные проекты.   
                .about-loft Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво! 
        section.section.skills
          .container.container-skills
            .skill-text
              h3.skills-title Чем я могу быть полезен вам
              .skills-about Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!
            .skills-backpack
                +image('content/skills-backpack.png', 'skills-icon')
            .skills-content
              .skills-block
                .skills-title Front-end
                ul.skills-list
                  each i in ['HTML5', 'CSS3', 'Javascript', 'Jquery и Vue.js',]
                    li.skills__item= i 
              .skills-block
                .skills-title Workflow
                ul.skills-list
                  each i in ['GIT', 'Terminal', 'Gulp', 'Webpack',]
                    li.skills__item= i 
        section.section.my-work
          .container.contaner-myWork
            h4.my-work__title Мои Работы
            .work-content
              ul.slider-work
        section.section.about-me
              h4.my-work__title Мои Работы


